<configuration><appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>backend/logs/app.log</file>
        <append>true</append>
        <encoder>
            <pattern>[%date] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="FILE"/>
    </root>
</configuration>
