body {
    margin: 0;
    padding: 0;

    font-size: 20px;
    font-family: "Nunito", sans-serif;

    background-color: #FAFAFA;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;

    font-family: "SansSerif", sans-serif;
    font-size: 20px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
    color: #FFFFFF;

    background-color: #2E7D32;
    box-shadow: 8px 0 8px rgba(0,0,0,0.1);
}

.task-section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

    color: #212121;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);

    width: 100%;
    min-width: 0;
}

.system-menu {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.task-section > div {
    margin: 15px 0;
}

.input-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;

    box-shadow: 8px 8px 8px rgba(0,0,0,0.1);
    border: 1px #212121 solid;
    border-radius: 5px;

    background-color: #FFFFFF;
}

.system-menu__element {
    margin-left: 5px;
}

.input-list {
    margin: 0;
}

.confirm__button:active {
    transform: translateY(1px);
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.input-list li {
    display: inline-flex;
    justify-content: flex-start;

    list-style-type: none;
}

.input-list > li {
    margin: 15px;
}

ul {
    margin-left: 0;
    padding-left: 0;
}

li label {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 5px;
    cursor: pointer;
}

.checkbox-list-element-text {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 5px;
}

table {
    margin: 15px 20px;
    border-collapse: collapse;
    box-shadow: 8px 8px 8px rgba(0,0,0,0.1);
    border-radius: 20px;
    border: #212121 2px solid;
    background-color: #FFFFFF;
}

table th {
    padding: 5px 30px;
    text-align: center;
    vertical-align: middle;
    border-radius: 8px;
    border: #212121 2px solid;
}

table td {
    padding: 5px 15px;
    text-align: center;
    vertical-align: middle;
    border-radius: 8px;
    border: #212121 2px solid;
}

.checkbox-list-element-input  {
    transform: scale(1.5);

    accent-color: rgba(255, 112, 67, 0.3);

    box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
}

#y-choice-input, #r-choice-input {
    width: 200px;
    height: 25px;

    font-size: 17px;
    font-family: "Nunito", sans-serif;

    border-radius: 8px;
    box-shadow: 8px 8px 8px rgba(0,0,0,0.1);
    border: #212121 1px solid;
}

#confirm-button {
    margin-bottom: 20px;
    max-width: 200px;
    margin-left: 0;
    height: 40px;
    width: 200px;
    align-self: center;

    color: #FFFFFF;
    font-size: 17px;
    font-family: "Nunito", sans-serif;

    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 8px 8px 8px rgba(0,0,0,0.1);
    background-color: #FF7043;
}

.toast-message {
    position: fixed;
    top: 30px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 400px;

    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    font-family: "Nunito", sans-serif;

    border: 1px solid transparent;
    border-radius: 10px;
    background-color: rgba(255, 112, 67, 0.5);
    box-shadow: 4px 4px 4px rgba(0,0,0,0.1);

    opacity: 0;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.toast-message.show {
    opacity: 1;
    transform: translateX(0);
}

.toast-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.toast-message-txt {
    background-color: transparent;
    vertical-align: middle;
}

.toast-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;

    font-size: 25px;
    color: #FFFFFF;

    background: none;
    border: none;
}

.table-wrapper {
    max-width: 100%;
}

.coordinate-plane__canvas {
    flex-shrink: 0;
    width: 600px;
    height: 600px;
}

.table__wrapper {
    flex: 1;
    min-width: 0;
    overflow-x: auto;
}

.table__wrapper table {
    width: 100%;
}
